

body{
    font-family: 'Sora', sans-serif !important;
}




.main-bg{
    background-image: url("../images/banner.png");
    background-size: cover;
    
    width: 100%;
}
.container-fluid{
    padding-right: 0px !important;
     padding-left:  0px !important;
}



.round-bg{
    background-image: url("../images/round.png");
    width: 67px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 36px;

}
.call-icon{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 27px;
}
.navbar-toggler {
    background-color: white !important;
}
.banner-h1{
    font-weight: 700;
font-size: 64px;
line-height: 76px;
/* or 119% */

letter-spacing: -0.02em;

color: #FFFFFF;
}


.res-ms{
    margin-left: 15px;
}
.carousel-caption {
    position: absolute;
    right: 14%;
    bottom: 21.25rem !important;
    left: 7% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem !important; 
    color: #fff;
    text-align: left !important;
}

.banner-box{
    width: fit-content;
    background-color: white;
    border-radius: 10px;
}
.banner-box:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.like-bg{
    width: 40px;
    height: 40px;
    background-color: #0E63FF;
    border-radius: 90px;
}

.banner-btn{
    padding: 18px;
    background:  #65B530;
    color: white;
    border: 0px;
}
.banner-btn:hover{
    background-color: #0E63FF !important;
    border-radius: 10px;
}
.font-clr{
    color: #2E3192;
}
.border-right{
    border-right: 1px solid #dddddd;;
}


.section-bg{
    background-color: black;
}


.card-img-overlay{
    top: 323px !important; 
}

.arrow-round{
    border: 1px solid;
    padding: 6px;
    height: 30px;
    width: 30px;
    border-radius: 90px;
}
.arrow-btn{
    background: #65B530;
    width: 50px;
    height: 50px;
    border-radius: 90px;
}
.tab-bg{
    padding: 58px 10px;
    background: #e0e0e0;
}
.nav-tabs .nav-link.active {
    border-color: transparent !important;
}
.nav-tabs{
    border-bottom: 0px !important;
}
.req-btn{
    border: none;
    padding: 6px 14px;
    background-color: black;
    color: white;
}


.list-bg{
    background-color: #0E63FF;
}

.product-btn{
    padding: 10px 19px;
    border: navajowhite;
    background: white;
}
.iso-img{
    width: 30%;
}
.counting{
    font-size: 55px;
}
.plus-font{
    font-size: 55px;
}

.dot-img{
    position: absolute;
width: 586px;
height: 630px;
left: 675px;
top: 3057.71px;
}

.nav-item{
    padding-right: 30px;
}
.nav-link{
    color: black !important;
}

/* responsive */


@media (max-width: 768px) {
    .main-bg{
        background-position: bottom;
    }
  
   .res-flex{
    flex-wrap: wrap;
   }
  .res-ms{
    margin-left: 0px !important;
  }
  
  .banner-box{
    width: 100% !important;
  }
  .banner-h1{
    font-size: 50px;
  }
  .product-btn{
    width: 100%;
  }
.res-width{
    width: 100% !important;
    margin-top: 10px;
}
.res-iso-img{
    width: 75% !important;
}
.res-align{
    text-align: center;
}
.res-none{
    display: none;
}
.res-li{
    width: 50% !important;
}
.text-left{
    text-align: left !important;
}
.res-mt{
    margin-top: 15px !important;
}
}